html {
  font-size: 10px;
}

body {
  background-color: white;
  color: #000000;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 110rem;
  margin: auto;
}

a {
  text-decoration: none;
  color: #262626;
}

ul {
  list-style: none;
}

/* NAV */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  font-size: 1rem;
}

.nav .logo {
  width: 12rem;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav ul.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav ul li {
  padding: 0 1.7rem;
}

.nav ul li a {
  font-size: 1.5rem;
  padding-bottom: 2px;
}

.nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

.nav .content {
  padding: 2rem;
}

/* Main */
#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 93rem;
}

#menu1 {
  width: 15rem;
}

#section {
  margin-left: 15rem;
  margin-right: 15rem;
  padding: 10px;
}

#section img {
  width: 80rem;
  height: auto;
}

#section p {
  margin: 8rem 10rem 0rem 10rem;
  font-size: 1.5rem;
}

#menu2 {
  width: 15rem;
  line-height: 2rem;
  text-align: right;
}

#menu2 .recommended {
  color: #be2f2f;
}

#menu2 .h3 {
  font-size: 10rem;
}

#menu2 .artist a:hover {
  border-bottom: 2px solid black;
}

#menu2 .publisher a:hover {
  border-bottom: 2px solid black;
}

#menu2 .dollar {
  font-size: 2.35rem;
}

#menu2 .sell {
  font-size: 1.5rem;
}

#menu2 .content {
  line-height: 2rem;
}

/* Section */
header .logo {
  margin: 7rem;
  border-bottom: 2px solid #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-family: inherit;
}

section.articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
  min-width: 30rem;
}

section.articles img {
  width: 60%;
  height: auto;
}

section.articles div {
  line-height: 1rem;
}

section.articles div h4 {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

section.articles div p {
  color: #a7a7af;
}

.follow {
  height: 5rem;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 85rem;
}

.follow * {
  margin-left: 0.5rem;
}

.follow img {
  width: 23px;
}

@media (min-width: 768px) {
  header {
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
  }
  header .logo {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}
/*# sourceMappingURL=style.css.map */