@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 10px;
  }
  
  body {
    background-color: white;
    color: #000000;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
  }
  
  .container {
    width: 90%;
    max-width: 110rem;
    margin: auto;
  }
  
  a {
    text-decoration: none;
    color: #262626;
  }
  
  ul {
    list-style: none;
  }
  
  /* NAV */
  .main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    font-size: 1rem;
  
    .logo {
        width: 7rem;
      }
  
    ul {
      display: flex;
  
      &.main_menu {
        flex: 1;
        margin-left: 2rem;
      }
  
      li {
        padding: 0 0.7rem;
  
        a {
          padding-bottom: 2px;
        }
  
        a:hover {
          border-bottom: 2px solid #262626;
        }
      }
    }

    .content {
        padding: 2rem;
    }
  }

  /* Section */
  header {
  
    .logo {
      margin: 7rem;
      border-bottom: #000000 solid 0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-family: inherit;
    }
  }

  section.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    grid-gap: 3rem;
    min-width: 30rem;
   
    img {
      width: 60%;
      height: auto;
    }
    div {
      line-height: 2.5rem;

      h4 {
        font-size: 1.3rem;
        font-family: Arial, Helvetica, sans-serif;
      }
      p {
        color: rgb(167, 167, 175);
      }
    }
    
  }
  
  @media (min-width: 768px) {
    header {
      grid-template-columns: repeat(4,1fr);
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
  
      .logo {
        justify-self: start;
      }
    }
  }