@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  color: #000000;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.container {
  width: 90%;
  max-width: 110rem;
  margin: auto;
}

a {
  text-decoration: none;
  color: #262626;
}

ul {
  list-style: none;
}

/* NAV */
.main_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  font-size: 1.2rem;
}

.main_nav .logo {
  width: 11rem;
}

.main_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_nav ul.main_menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2rem;
}

.main_nav ul li {
  padding: 0 0.7rem;
}

.main_nav ul li a {
  padding-bottom: 2px;
}

.main_nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  /*絕對定位*/
  top: 2.5rem;
  right: 3rem;
  z-index: 2;
  display: none;
}

.btn {
  margin-top: 1rem;
  background: #262626;
  color: white;
  padding: 0.7rem 1rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
}

.dark {
  color: #f5f5f5;
}

.dark .btn {
  background: #f5f5f5;
  color: #333;
}

/* SHOWCASE */
.showcase {
  width: 100%;
  height: 32rem;
  background: url("./img/showCase.png") no-repeat center/cover;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.showcase .content {
  width: 40%;
  padding: 9rem 0 0 3rem;
}

.showcase .content h2 {
  font-size: 2rem;
}

.showcase .content p {
  margin: 1rem 0 1.2rem;
  font-size: 0.9rem;
}

/* Purchase */
.purchase {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  width: 50%;
  height: 10rem;
  text-align: center;
  padding: 3rem 0 0 0;
  margin-left: 25%;
}

/* Home Cards */
.home-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 2rem;
}

.home-cards img {
  width: 100%;
  margin-bottom: 1rem;
}

.home-cards h3 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.home-cards p {
  font-size: 0.9rem;
}

.home-cards a {
  display: inline-block;
  text-transform: uppercase;
  color: #0067b8;
  font-weight: bold;
  padding-top: 1rem;
}

.home-cards li {
  list-style: none;
}

/* XBox */
.xbox {
  width: 100%;
  height: 32rem;
  background: url("./img/edge.png") no-repeat center/cover;
  margin-bottom: 1rem;
}

.xbox .content {
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 2rem 0 0 0;
}

.xbox .content h2 {
  font-size: 2rem;
}

.xbox .content p {
  margin: 1rem 0 2rem;
  font-size: 1.1rem;
}

.follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 3rem 0 3rem;
}

.follow * {
  margin-right: 0.5rem;
}

.follow img {
  width: 30px;
}

/* Links */
.links {
  background-color: #dfdfdfad;
  color: #616161;
  font-size: 1rem;
  padding: 2.5rem 0 0 2.5rem;
}

.links .links-inner {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links .links-inner li {
  line-height: 3.5rem;
}

.links .links-inner h3 {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Footer */
.footer {
  background-color: #dfdfdfad;
  color: #616161;
  padding: 2rem 0;
  font-size: 1rem;
}

.footer .footer-inner {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-inner div {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-inner div i {
  margin-right: 1rem;
}

.footer .footer-inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-inner ul li {
  margin-right: 1.5rem;
  margin-bottom: 0.8rem;
}

@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }
  .menu-btn:hover {
    opacity: 0.5;
  }
  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #f2f2f2;
    opacity: 0.9;
    padding: 2rem;
    -webkit-transform: translateX(-50rem);
            transform: translateX(-50rem);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .main-nav ul.main-menu.show {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  .main-nav ul.main-menu li {
    padding: 0.8rem;
    border-bottom: #ccc solid 1px;
    font-size: 1.2rem;
  }
  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }
  .main-nav ul.right-menu {
    margin-right: 3.5rem;
  }
  .btn {
    font-size: 1rem;
    padding: 0.6rem 0.9rem;
  }
  .showcase {
    width: 100%;
    height: 32rem;
    background: url("./img/showCase-1.png") no-repeat center/cover;
    margin-bottom: 1rem;
  }
  .showcase .content {
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 20rem 0 0 0;
  }
  .showcase .content h2 {
    font-size: 1.3rem;
  }
  .showcase .content p {
    margin: 0.3rem 0 0.3rem;
    font-size: 0.85rem;
  }
  /* .purchase {
    
  }*/
  .home-cards {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: 1fr 1fr;
  }
  .xbox {
    background: url("./img/edge-1.PNG") no-repeat center/cover;
  }
  .xbox .content {
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 20rem 0 0 0;
  }
  .xbox .content h2 {
    font-size: 1.3rem;
  }
  .xbox .content p {
    margin: 0.3rem 0 0.3rem;
    font-size: 0.85rem;
  }
  .xbox .content a {
    font-size: 1rem;
  }
  .links {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: 1fr 1fr;
  }
  .footer .footer-inner {
    width: 40%;
    padding: 1rem 0 1 0.5rem;
  }
  .footer .footer-inner i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .footer-inner ul {
    margin-bottom: 2rem;
  }
}

@media (max-width: 700px) and (max-width: 500px) {
  btn {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
  }
  .home-cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .xbox .content {
    width: 50%;
    padding: 2rem 0 0 2rem;
  }
  .xbox .content h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .carbon-dark .content {
    width: 50%;
    padding: 2rem 0 0 2rem;
  }
  .carbon-dark .content h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  /*.footer {
    .footer-inner {
      width: 50%;
      padding: 2rem 0 0 2rem;

      i {
        display: flex;
      }

      ul {
        margin-bottom: 2rem;
      }
    }
  }*/
}
/*# sourceMappingURL=style.css.map */